
body {
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0px 0px 10px;
    border-bottom: 2px solid black;
    padding: 15px 25px;
    color: white;
    background-color: black;
}

.success {
    margin: 20px
}

.go-button {
    display: inline-block;
    text-decoration: none;
    border: 0px;
    margin: 0px 50px;
    color: white;
    background-color: black;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    padding: 5px 0px;
}
